.container.d-flex.justify-content-center.align-items-center.min-vh-100
  .card.shadow-lg{style: "width: 30rem; border-radius: 15px;"}
    .card-body.p-4
      %h2.text-center.mb-4 Hello!
      %p.text-center
        Hello #{@email}!
      - if @resource.try(:unconfirmed_email?)
        %p.text-center
          We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}.
      - else
        %p.text-center
          We're contacting you to notify you that your email has been changed to #{@resource.email}.
