.container.d-flex.justify-content-center.align-items-center.min-vh-100
  .card.shadow-lg{style: "width: 30rem; border-radius: 15px;"}
    .card-body.p-4
      %h2.text-center.mb-4 Hello!
      %p.text-center
        Hello #{@resource.email}!
      %p.text-center
        Someone has requested a link to change your password. You can do this through the link below.
      %p.text-center
        = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary mt-2'
      %p.text-center
        If you didn't request this, please ignore this email.
      %p.text-center
        Your password won't change until you access the link above and create a new one.
